In [1]:
import seaborn as sns
import pandas as pd
import warnings
import matplotlib.pyplot as plt
import numpy
warnings.filterwarnings('ignore')

In [1]:
data = pd.read_csv('data/resto.csv')
data.head(10)

NameError: name 'pd' is not defined

In [16]:
len(data)

4622

In [18]:
data.columns

Index(['Unnamed: 0', 'order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [33]:
data.stack().value_counts()

1               4360
$8.75           1460
$11.25          1042
$9.25            796
Chicken Bowl     726
                ...
3597               1
3598               1
3599               1
3600               1
0                  1
Length: 5840, dtype: int64

In [34]:
data.iloc[data['quantity'].argmax()]

Unnamed: 0                                                         3598
order_id                                                           1443
quantity                                                             15
item_name                                  Chips and Fresh Tomato Salsa
choice_description                                                  NaN
item_price                                                      $44.25
item_total_price      $44.25 $44.25 $44.25 $44.25 $44.25 $44.25 $44....
Name: 3598, dtype: object

In [36]:
data['item_total_price'] = (data.item_price * data.quantity)
CA = data['item_total_price'].sum()
print(CA)

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [28]:
data

,Unnamed: 0,order_id,quantity,item_name,choice_description,item_price,item_total_price
0,0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39,$2.39
1,1,1,1,Izze,[Clementine],$3.39,$3.39
2,2,1,1,Nantucket Nectar,[Apple],$3.39,$3.39
3,3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39,$2.39
4,4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,$16.98 $16.98
...,...,...,...,...,...,...,...
4617,4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,$11.75
4618,4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,$11.75
4619,4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,$11.25
4620,4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75,$8.75
4621,4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75,$8.75